<h1>Edit Assign</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.assign_path(@conn, :update, @assign)) %>

<span><%= link "View all Tasks", to: Routes.task_path(@conn, :index) %></span>
<br />
<span><%= link "Back to Assignments", to: Routes.assign_path(@conn, :index) %></span>

